{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="container-fluid hero-container">
        <div class="row h-100 navbar-gap">
            <div class="col my-auto">
                <h1 class="display-4 text-md-right brand-title-font">
                    We dont just do skincare!</h1>
                <div class="mt-5 pr-5 text-md-right">
                    <h4>
                        <a href="{% url 'products' %}" class="brand-button-lg btn btn-lg 
                        rounded-0 text-uppercase py-3">SHOP ALL</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row home-info-banner">
        <div class="col-12 text-uppercase text-center">
            <p>Clean, cute and cruelty free</p>
        </div>  
    </div>
    <div class="container-fluid home-info-container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="logo-font-pink pb-4">Welcome to Serii!</h2>
                    <div class="mx-auto">
                        <p class="px-5 home-info-text">
                            Here at Serii skincare we take the time to formulate
                            the highest quality products for the babes that
                            believe glowing, healthy skin shouldn't break the bank! 
                        </p>
                    </div>
            </div>
        </div>
    </div>
        


{% endblock %}