html {
    height: 100%;
}

body {
    background: url('/media/home_callout.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 165px);
    background-color: #f3d6d3;
    font-family: 'Mukta Malar', sans-serif;
    
}


/* Site background colour*/
.bg-color {
    background-color: #f3d6d3;
}


/*****FONTS STYLING*****/
.logo-font {
    font-family: 'STIX Two Text', serif;
    font-weight: 700;
    color: #0322AD;
    letter-spacing: 0.2rem;
}

/*Adds stroke to the logo to make it bolder*/
@supports (-webkit-text-stroke: 2px #0322AD) {
    .logo-font {
      -webkit-text-stroke: 2px #0322AD;
      -webkit-text-fill-color: #0322AD;
    }
  }

.brand-title-font {
    font-family: 'STIX Two Text', serif;
    font-weight: 600;
    color: #0322AD;
}


/*****BUTTON STYLING*****/
.brand-button {
    background: #f3d6d3;
    color: #0322AD;
    min-width: 260px;
    border: 4px solid #0322AD;
    font-weight: 700
}

.brand-button:hover,
.brand-button:active,
.brand-button:focus {
    background: #0322AD;
    color: #f3d6d3;
    border: 4px solid #f3d6d3;
    font-weight: 700;
}
