<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Shop All
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
              <a class="dropdown-item" href="#">By Price</a>
              <a class="dropdown-item" href="#">By Rating</a>
              <a class="dropdown-item" href="#">By Catergory</a>
              <a class="dropdown-item" href="#">All Products</a>
            </div>
          </li> 

          <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Skincare
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
              <a class="dropdown-item" href="#">Face Wash</a>
              <a class="dropdown-item" href="#">Moisturisers</a>
              <a class="dropdown-item" href="#">Toners</a>
              <a class="dropdown-item" href="#">Serums</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bodycare
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
              <a class="dropdown-item" href="#">Body Wash</a>
              <a class="dropdown-item" href="#">Body Lotion</a>
              <a class="dropdown-item" href="#">Body Creme</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Fragrance
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
              <a class="dropdown-item" href="#">Perfumes</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Special Offers 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
              <a class="dropdown-item" href="#">New arrivals</a>
              <a class="dropdown-item" href="#">Sale</a>
            </div>
          </li>
    </ul>

</div>