<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link mr-5 blue-text-upper" href="#" id="shop-all-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Shop All
            </a>
            <div class="dropdown-menu border-0 bg-pink" aria-labelledby="shop-all-link">
              <a class="dropdown-item blue-text-lower" href="{% url 'products' %}?category=face_wash,moisturisers,toner,serums,
                body_wash,body_lotion,body_scrub,perfume,new_arrivals,sale">All Products</a>
              <a class="dropdown-item blue-text-lower" href="{% url 'products' %}?sort=price&direction=asc">By Price</a>
              <a class="dropdown-item blue-text-lower" href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a>
              <a class="dropdown-item blue-text-lower" href="{% url 'products' %}?sort=category&direction=asc">By Category</a>
            </div>
        </li> 

        <li class="nav-item dropdown">
            <a class="nav-link mr-5 blue-text-upper" href="#" id="skincare-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Skincare
            </a>
            <div class="dropdown-menu border-0 bg-pink" aria-labelledby="skincare-link">
              <a class="dropdown-item blue-text-lower" href="{% url 'products' %}?category=face_wash">Face Wash</a>
              <a class="dropdown-item blue-text-lower" href="{% url 'products' %}?category=moisturisers">Moisturisers</a>
              <a class="dropdown-item blue-text-lower" href="{% url 'products' %}?category=toner">Toners</a>
              <a class="dropdown-item blue-text-lower" href="{% url 'products' %}?category=serums">Serums</a>
              <a class="dropdown-item blue-text-lower" href="{% url 'products' %}?category=face_wash,moisturisers,toner,serums">All Skincare</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-5 blue-text-upper" href="#" id="bodycare-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bodycare
            </a>
            <div class="dropdown-menu border-0 bg-pink" aria-labelledby="bodycare-link">
              <a class="dropdown-item blue-text-lower" href="{% url 'products' %}?category=body_wash">Body Wash</a>
              <a class="dropdown-item blue-text-lower" href="{% url 'products' %}?category=body_lotion">Body Lotion</a>
              <a class="dropdown-item blue-text-lower" href="{% url 'products' %}?category=body_scrub">Body Scrub</a>
              <a class="dropdown-item blue-text-lower" href="{% url 'products' %}?category=body_wash,body_lotion,body_scrub">All Bodycare</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-5 blue-text-upper" href="#" id="fragrance-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Fragrance
            </a>
            <div class="dropdown-menu border-0 bg-pink" aria-labelledby="fragrance-link">
              <a class="dropdown-item blue-text-lower" href="{% url 'products' %}?category=perfume">Perfumes</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link mr-5 blue-text-upper" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Special Offers 
            </a>
            <div class="dropdown-menu border-0 bg-pink" aria-labelledby="all-products-link">
              <a class="dropdown-item blue-text-lower" href="{% url 'products' %}?category=new_arrivals">New arrivals</a>
              <a class="dropdown-item blue-text-lower" href="{% url 'products' %}?category=sale">Sale</a>
              <a class="dropdown-item blue-text-lower" href="{% url 'products' %}?category=new_arrivals,sale">All Special Offers</a>
            </div>
        </li>
    </ul>

</div>