<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link mr-5 blue-text-upper" href="#" id="shop-all-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Shop All
            </a>
            <div class="dropdown-menu border-0 bg-pink" aria-labelledby="shop-all-link">
              <a class="dropdown-item blue-text-lower" href="#">By Price</a>
              <a class="dropdown-item blue-text-lower" href="#">By Rating</a>
              <a class="dropdown-item blue-text-lower" href="#">By Category</a>
              <a class="dropdown-item blue-text-lower" href="{% url 'products' %}">All Products</a>
            </div>
        </li> 

        <li class="nav-item dropdown">
            <a class="nav-link mr-5 blue-text-upper" href="#" id="skincare-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Skincare
            </a>
            <div class="dropdown-menu border-0 bg-pink" aria-labelledby="skincare-link">
              <a class="dropdown-item blue-text-lower" href="{% url 'products' %}?category=face_wash">Face Wash</a>
              <a class="dropdown-item blue-text-lower" href="{% url 'products' %}?category=moisturisers">Moisturisers</a>
              <a class="dropdown-item blue-text-lower" href="{% url 'products' %}?category=toners">Toners</a>
              <a class="dropdown-item blue-text-lower" href="{% url 'products' %}?category=serums">Serums</a>
              <a class="dropdown-item blue-text-lower" href="{% url 'products' %}?category=face_wash,moisturisers,toners,serums">All Skincare</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-5 blue-text-upper" href="#" id="bodycare-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bodycare
            </a>
            <div class="dropdown-menu border-0 bg-pink" aria-labelledby="bodycare-link">
              <a class="dropdown-item blue-text-lower" href="#">Body Wash</a>
              <a class="dropdown-item blue-text-lower" href="#">Body Lotion</a>
              <a class="dropdown-item blue-text-lower" href="#">Body Scrub</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-5 blue-text-upper" href="#" id="fragrance-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Fragrance
            </a>
            <div class="dropdown-menu border-0 bg-pink" aria-labelledby="fragrance-link">
              <a class="dropdown-item blue-text-lower" href="#">Perfumes</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link mr-5 blue-text-upper" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Special Offers 
            </a>
            <div class="dropdown-menu border-0 bg-pink" aria-labelledby="all-products-link">
              <a class="dropdown-item blue-text-lower" href="#">New arrivals</a>
              <a class="dropdown-item blue-text-lower" href="#">Sale</a>
            </div>
        </li>
    </ul>

</div>