<li class="list-inline-item">
    <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="brand-icon fas fa-search fa-lg"></i></div>
            <p class="my-0">Search</p>
        </div>
    </a>
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
        <form method="GET" action="">
            <div class="input-group w-100">
              <input class="form-control search-bar-style" type="text" name="q" placeholder="Search Serri">
              <div class="input-group-append">
                <button class="form-control btn btn-black search-button-border" type="submit">
                  <span class="brand-icon">
                    <i class="fas fa-search"></i>
                  </span>
                </button>
              </div>
            </div>
        </form>
    </div>
</li>