{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="page-overlay"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center mt-3">
                    <h2 class="logo-font">Products</h2>
                    {% for c in current_categories %}
                        <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                            <span class="p-2 mt-2 badge badge-white blue-text-lower rounded-0 border border-dark">{{ c.friendly_name }}</span>
                        </a>
                    {% endfor %}
                    <hr class="w-50 mb-1">
                </div>
            </div>

            <!--Displays each product row-->
            <div class="row">
                <div class=" product container col-10 offset-1">
                    <div class="row mt-1 mb-2"></div>
                    <div class="row">

                        <!--To loop through products-->
                        {% for product in products %}
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                <div class="card h-100 border-0">
                                    {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}"  alt="{{ product.name }}">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"  alt="{{ product.name }}">
                                    </a>
                                    {% endif %}
                                    <div class="card-body bg-pink">
                                        <p class="blue-text-upper mb-0">{{ product.name }}</p>
                                    </div>
                                    <div class="card-footer bg-pink pt-0 border-0 text-left">
                                        <div class="row">
                                            <div class="col">
                                                <p class="lead mb-0 text-left blue-text-upper">£{{ product.price }}</p>
                                                <!--Show product category-->
                                                {% if product.category %}
                                                <p class="small mt-1 mb-0">
                                                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                        <i class="fas fa-tag mr-1">{{ product.category.friendly_name }}</i>
                                                    </a>
                                                </p>
                                                {% endif %}
                                                {% if product.rating %}
                                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }}</small>
                                                {% else %}
                                                    <small class="text-muted">No ratings yet!</small>
                                                {% endif %}    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    
{% endblock %}